body {
    background: #EFFBF2 ;
    margin: 0px ;
    padding: 0px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #0B0A0A ;
}

header {
    background: #201E1F ;
    margin: 0px ;
    padding: 0px ;
    height: 150px ;
    border-bottom: 1px solid #F18F01 ;
    border-top: 2px solid #F18F01 ;
    color: #EFFBF2 ;
}

header h1 {
    margin: 0px auto ;
    line-height: 150px ;
    margin-top: -2px ;
    margin-left: 50px ;
    text-shadow: 0 0 1px #F18F01, 0 0 1px #F18F01;
}

.title {
    display: block ;
    width: 40% ;
    float: left ;
}

.menu {
    display: block ;
    float: right ;
    width: 60% ;
    height: 100% ;
}

.menu ul {
    float: right ;
    margin-top: -2px ;
    margin-right: 20px ;
}

.menu ul li {
    display: inline-block ;
    line-height: 150px ; 
    margin-right: 20px ;
    margin-left: 20px ;
}

.menu ul li a {
    text-decoration: none ;
    color: #EFFBF2 ;
    transition: 200ms all ;
}

.menu ul li a:hover {
    color: #F18F01 ;
    text-shadow: 0 0 1.5px #F18F01, 0 0 1.5px #F18F01;
}

.clearfix {
    clear: both ;
    float: none ;
}

section {
    width: 70% ;
    margin: 40px auto ;
    margin-bottom: 140px ;
}

.links {
    text-align: center ;
    margin-bottom: 30px ;
}

.links a {
    background-color: #248232 ;
    color: #EFFBF2 ;
    border: 1px solid #201E1F ;
    text-decoration: none ;
    padding: 10px 15px ;
    margin: 10px 30px ;
    border-radius: 4px ;
    transition: 200ms all ;
}

.links a:hover {
    background-color: #294936 ;
    color: #F18F01 ;
    text-shadow: 0 0 1.5px #F18F01, 0 0 1.5px #F18F01;
}

.content h2 {
    font-size: 24px ;
}

.content h3 {
    font-size: 18px ;
    font-style: italic ;
    font-weight: 500 ;
}

.content code {
    font-size: 16px ;
}

.content a {
    text-decoration: none ;
    color: #248232 ;
    transition: 200ms all ;
}

.content a:hover {
    color: #F18F01 ;
    text-shadow: 0 0 .5px #F18F01, 0 0 .5px #F18F01;
}

.content strong.lesser {
    font-weight: 500 ;
}

footer {
    width: 100% ;
    position: fixed ;
    bottom: 0 ;
    right: 0 ;
    left: 0 ;
    background: #294936 ;
    text-align: center ;
}

footer ul {
    margin: 0px auto ;
    padding: 0px ;
    margin-top: -2px ;
}

footer ul li {
    display: inline-block ;
    line-height: 80px ; 
    margin-right: 50px ;
    margin-left: 50px ;
}

footer ul li a {
    text-decoration: none ;
    color: #EFFBF2 ;
    transition: 200ms all ;
}

footer ul li a:hover {
    color: #F18F01 ;
    text-shadow: 0 0 1px #F18F01, 0 0 1px #F18F01;
}

/* RESPONSIVE */

@media (max-width: 740px) {
    .title {
        clear: both ;
        float: none ;
        width: 100% ;
        height: 70px ;
        margin: 0px auto ;
    }

    header {
        height: 120px ;
    }

    header h1 {
        margin: 0px auto ;
        line-height: 70px ;
        margin-top: 0px ;
        padding-top: 10px ;
        text-align: center ;
    }

    .menu {
        clear: both ;
        width: 100% ;
        height: 50px ;
        margin: 0px auto ;
        text-align: center ;
    }

    .menu ul {
        float: none ;
        margin: 0px auto ;
        padding: 0px ;
    }

    .menu ul li {
        line-height: 50px ;
    }

    footer ul li {
        margin-right: 7% ;
        margin-left: 7% ;
    }

}

@media (max-width: 615px) {
    section {
        width: 85% ;
    }
    
    footer ul li {
        margin-right: 20px ;
        margin-left: 20px ;
    }
}

@media (max-width: 506px) {
    .links {
        margin-right: -10px ;
        margin-left: -10px ;
    }
    
    .links a {
        margin: 10px 4% ;
    }
}

@media (max-width: 427px) {


    section {
        margin-top: 30px ;
    }

    .links {
        margin-bottom: 20px ;
    }
    
    .links a {
        display: block ;
    }

    section {
        margin-bottom: 40px ;
    }

    footer {
        position: relative ;
    }

    footer ul li {
        line-height: 40px ;
        width: 40% ;
        margin: 0px auto ;
    }
}

@media (max-width: 384px) {
    .menu ul li {
        margin: 0px 4% ;
    }
}
