body {
    background: #EFFBF2 ;
    margin: 0px ;
    padding: 0px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #0B0A0A ;
}

header {
    background: #201E1F ;
    margin: 0px ;
    padding: 0px ;
    height: 150px ;
    border-bottom: 1px solid #F18F01 ;
    border-top: 2px solid #F18F01 ;
    color: #EFFBF2 ;
}

header h1 {
    margin: 0px auto ;
    line-height: 150px ;
    margin-top: -2px ;
    margin-left: 50px ;
    text-shadow: 0 0 2px #F18F01, 0 0 2px #F18F01, 0 0 4px #F18F01;
    animation: shadow 5s linear 0s infinite alternate;
}

@keyframes shadow {
    0% {
        text-shadow: 0 0 2px #F18F01, 0 0 2px #F18F01, 0 0 4px #F18F01;
    }
    80% {
        text-shadow: 0 0 2px #F18F01, 0 0 2px #F18F01, 0 0 4px #F18F01;
    }
    100% {
        text-shadow: 0 0 2px #F18F01, 0 0 2px #F18F01, 0 0 4px #F18F01, 
                0 0 4px #F18F01, 0 0 4px #F18F01, 0 0 8px #F18F01,
                0 0 8px #F18F01, 0 0 8px #F18F01, 0 0 8px #F18F01;
    }
}

.title {
    display: block ;
    width: 40% ;
    float: left ;
}

.menu {
    display: block ;
    float: right ;
    width: 60% ;
    height: 100% ;
}

.menu ul {
    float: right ;
    margin-top: -2px ;
    margin-right: 20px ;
}

.menu ul li {
    display: inline-block ;
    line-height: 150px ; 
    margin-right: 20px ;
    margin-left: 20px ;
}

.menu ul li a {
    text-decoration: none ;
    color: #EFFBF2 ;
    transition: 200ms all ;
}

.menu ul li a:hover {
    color: #F18F01 ;
    text-shadow: 0 0 1.5px #F18F01, 0 0 1.5px #F18F01;
}

.clearfix {
    clear: both ;
    float: none ;
}

section {
    width: 70% ;
    margin: 40px auto ;
    margin-bottom: 140px ;
}

.links {
    text-align: center ;
    margin-bottom: 30px ;
}

.links a {
    background-color: #248232 ;
    color: #EFFBF2 ;
    border: 1px solid #201E1F ;
    text-decoration: none ;
    padding: 10px 15px ;
    margin: 10px 30px ;
    border-radius: 4px ;
    transition: 200ms all ;
}

.links a:hover {
    background-color: #294936 ;
    color: #F18F01 ;
    text-shadow: 0 0 1.5px #F18F01, 0 0 1.5px #F18F01;
}

.content h2 {
    font-size: 24px ;
}

.content h3 {
    font-size: 18px ;
    font-style: italic ;
    font-weight: 500 ;
}

.content code {
    font-size: 16px ;
}

.content a {
    text-decoration: none ;
    color: #248232 ;
    transition: 200ms all ;
}

.content a:hover {
    color: #F18F01 ;
    text-shadow: 0 0 .5px #F18F01, 0 0 .5px #F18F01;
}

.content strong.lesser {
    font-weight: 500 ;
}

#badge-index {
    width: 120px ;
    margin: 0 auto ;
    margin-top: 30px ;
}

#badge-bio {
    width: 120px ;
    float: right ;
    margin: 10px ;
    margin-left: 20px ;
}

.badge img {
    max-width: 120px ;
}

footer {
    width: 100% ;
    position: fixed ;
    bottom: 0 ;
    right: 0 ;
    left: 0 ;
    background: #294936 ;
    text-align: center ;
}

footer ul {
    margin: 0px auto ;
    padding: 20px 0px ;
    border-top: 1px solid #248232 ;
}

footer ul li {
    display: inline-block ;
    margin-right: 50px ;
    margin-left: 50px ;
}

footer ul li a {
    text-decoration: none ;
    color: #EFFBF2 ;
    transition: 200ms all ;
}

footer ul li a:hover {
    color: #F18F01 ;
    text-shadow: 0 0 1px #F18F01, 0 0 1px #F18F01;
}

footer span {
    display: block ;
}

.link-img img {
    width: 20px ;
    transition: 200ms all ;
}

footer ul li a:hover img {
    filter: invert(50%) sepia(100%) saturate(1237%) hue-rotate(-26deg) brightness(118%) contrast(119%);
}

/* RESPONSIVE */

@media (max-width: 740px) {
    .title {
        clear: both ;
        float: none ;
        width: 100% ;
        height: 70px ;
        margin: 0px auto ;
    }

    header {
        height: 120px ;
    }

    header h1 {
        margin: 0px auto ;
        line-height: 70px ;
        margin-top: 0px ;
        padding-top: 10px ;
        text-align: center ;
    }

    .menu {
        clear: both ;
        width: 100% ;
        height: 50px ;
        margin: 0px auto ;
        text-align: center ;
    }

    .menu ul {
        float: none ;
        margin: 0px auto ;
        padding: 0px ;
    }

    .menu ul li {
        line-height: 50px ;
    }

    footer ul li {
        margin-right: 7% ;
        margin-left: 7% ;
    }
}

@media (max-width: 615px) {
    section {
        width: 85% ;
    }
    
    footer ul li {
        margin-right: 20px ;
        margin-left: 20px ;
    }
}

@media (max-height: 639px) {
    header {
        height: 100px ;
    }

    header h1 {
        line-height: 100px ;
    }

    .menu ul li {
        line-height: 100px ;
    }
}

@media (max-width: 740px) and (max-height: 639px) {
    header {
        height: 100px ;
    }

    .title {
        height: 60px ;
    }

    header h1 {
        margin: 0px auto ;
        line-height: 60px ;
        margin-top: 0px ;
        padding-top: 0px ;
        text-align: center ;
    }

    .menu {
        clear: both ;
        width: 100% ;
        height: 40px ;
        margin: 0px auto ;
        text-align: center ;
    }

    .menu ul {
        float: none ;
        margin: 0px auto ;
        padding: 0px ;
    }

    .menu ul li {
        line-height: 40px ;
    }
}

@media (max-width: 506px), (max-height: 570px) {
    .links a {
        margin: 10px 3% ;
    }

    section {
        margin-bottom: 90px ;
    }

    footer {
        margin-bottom: -23px ;
    }
    
    footer .link-text {
        visibility: hidden ;
    }

    footer ul li {
        width: 20% ;
        margin: auto ;
    }
}

@media (max-width: 427px) {
    section {
        margin-top: 30px ;
        margin-bottom: 100px ;
    }

    .links {
        margin-bottom: 20px ;
    }
    
    .links a {
        display: block ;
    }
}

@media (max-width: 384px) {
    .menu ul li {
        margin: 0px 4% ;
    }
}

@media (max-width: 330px) {
    header {
        height: 90px ;
    }

    .title {
        height: 54px ;
    }

    header h1 {
        font-size: 28px ;
    }

    .menu {
        height: 36px ;
    }

    .menu ul li {
        line-height: 36px ;
        font-size: 14px ;
    }

    section,
    .content code {
        font-size: 14px ;
        margin-bottom: 80px ;
    }

    .content h2,
    .content h2 pre {
        font-size: 22px ;
    }

    .content h3 {
        font-size: 16px ;
    }

    #badge-index,
    #badge-bio {
        width: 100px ;
    }

    .badge img {
        max-width: 100px ;
    }

    footer {
        margin-bottom: -30px ;
    }

    footer ul {
        padding-top: 14px ;
    }

    .link-img img {
        width: 18px ;
    }
}

@media (max-width: 284px) {
    header {
        height: 80px ;
    }

    .title {
        height: 48px ;
    }

    header h1 {
        font-size: 25px ;
    }

    .menu {
        height: 32px ;
    }

    .menu ul li {
        line-height: 32px ;
        font-size: 13px ;
    }

    section,
    .content code {
        font-size: 13px ;
    }

    .content h2,
    .content h2 pre {
        font-size: 20px ;
    }

    .content h3 {
        font-size: 15px ;
    }

    #badge-index,
    #badge-bio {
        width: 80px ;
    }

    .badge img {
        max-width: 80px ;
    }

    .link-img img {
        width: 18px ;
    }
}

@media (max-width: 274px) {
    .menu ul li {
        margin-right: 2% ;
        margin-left: 2% ;
    }
}